.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 90px;
  padding: 10px;
  justify-items: center;
  background-color: #f7fafc;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.card .color {
  font-weight: bold;
}
